{% extends 'base.html' %}


{% block head_title %}
Staff
{% endblock head_title %}

{% block content %}
<div class="container my-5 min-vh-100">
    <h1 class="display-1 border-bottom">Staff</h1>
    <!-- <a href="#"
        class="btn btn-dark my-3">Add a supplier</a> -->
    <div style="max-width: 28rem;">
        <form class="my-3 mx-auto"
            action="{% url 'suppliers:search' %}"
            method="get">
            <input class="form-control form-control-sm rounded-pill"
                type="text"
                name="q"
                placeholder="Search staff by (name, email, ext, position)..."
                aria-label="Search">
        </form>
    </div>
    <ul class="list-group"
        style="max-width: 28rem;">
        {% for object in object_list %}
        <a class="text-decoration-none text-dark"
            href="{{object.get_absolute_url}}">
            <li class="list-group-item border-0">
                {{object.get_full_name|title}}
            </li>
        </a>
        {% empty %}
        <li class="list-group-item">No Staff</li>
        {% endfor %}

    </ul>

</div>
{% endblock content %}