{% extends 'base.html' %}



{% block head_title %}
Suppliers
{% endblock head_title %}

{% block content %}
<div class="container my-5 min-vh-100">
    <h1 class="display-1 border-bottom">Supplier list</h1>
    <a href="{% url 'suppliers:create' %}"
        class="btn btn-lg btn-dark rounded-pill mx-auto my-3">Add a
        supplier</a>
    <div style="max-width: 28rem;">
        <form class="my-3 mx-auto"
            action="{% url 'suppliers:search' %}"
            method="get">
            <input class="form-control form-control-sm rounded-pill"
                type="text"
                name="q"
                placeholder="Search suppliers by (name, description, email, phone, address, district)..."
                aria-label="Search">
        </form>
    </div>

    <div class="my-3"
        style="max-width: 28rem;">
        {% for category in supplier_category_list %}
        <a class="btn btn-sm btn-outline-dark rounded-pill mb-2"
            href="{% url 'suppliers:category-list' category.slug %}">{{category}}</a>
        {% endfor %}

    </div>

    <ul class="list-group"
        style="max-width: 28rem;">
        {% for object in object_list %}
        <a class="text-decoration-none text-dark"
            href="{{object.get_absolute_url}}">
            <li class="list-group-item border-0">
                {{object.supplier_name|title}}
            </li>
        </a>

        {% empty %}
        <li class="list-group-item">No Suppliers</li>
        {% endfor %}

    </ul>
  
</div>
{% endblock content %}