{% extends 'base.html' %}


{% block head_title %}
Home
{% endblock head_title %}


{% block content %}
<div class="container my-5 min-vh-100">
    <h2 class="display-1">Welcome</h2>
    <hr>
    <div class="col-lg-4 col-md-12 col-sm-12">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque
            et
            consequuntur voluptatibus, debitis ipsum odio inventore dolore
            nesciunt placeat, ipsam veritatis ea incidunt.</p>

    </div>
</div>
{% endblock content %}